name: build-debug

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Disable Gradle cache because old files are causing errors
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: true

      - name: Build Debug APK
        run: ./gradlew --no-daemon clean assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AutoInvoiceApp-debug
          path: app/build/outputs/apk/debug/app-debug.apk
